* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    font-family: fantasy;
    color: #eee;
    background-color: #0f0f0f;
    flex-direction: column;
}

.contenedor {
    margin:auto;
    margin-top: 38px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #1c1c1c;
    border-radius: 20px;
    box-shadow: 0 0 55px 0 rgba(185, 185, 185, 0.6);
}

h1 {
    padding: 10px;
    text-align: center;
}

#cardResultado {
    width: 100%;

}

img {
    width: 100%;
    max-height: 300em;
    background-color: #eaeaea; 
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 25px 0 rgba(185, 185, 185, 0.6);
    object-fit: cover;
    transform: scale(1.02);
}

.Resultado {
    padding: 6px;
    text-align: center;
}

.coninput {
    text-align: center;
}

input {
    padding: 6px 12px;
    font-family: fantasy;
    width: 50%;
    margin: 10px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #eee;
    box-shadow: 0 0 12px 0 #9bd0ff52; 
    border-radius: 5px;
    border-left: 3px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.3);
}

input:focus {
    outline: none;
    border-bottom: 3px solid #4facfe;
    border-left: 3px solid #4facfe; 
}

.boton {
    margin: 10px;
    text-align: center;
}

button {
    background: linear-gradient(145deg, #2b2b2b, #1a1a1a);
    color: #ffffff;
    font-family: fantasy;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7),
    0 0 10px rgba(255,255,255,0.1);
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(145deg, #3a3a3a, #222);
    box-shadow: 0 10px 25px rgba(0,0,0,0.9),
    0 0 20px rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
}

footer {
    margin-top: auto;
    text-align: center;
    background: #222;
    box-shadow: 0 0 20px 0 rgba(194, 194, 194, 0.2); 
}
footer p {
    padding: 15px;
    color: rgb(226, 225, 225);
}


